
body{
    background-color: rgb(132, 132, 238);
    color: darkblue;
    font-size: 15px;
    font-weight: bolder;
    margin-left: 10%;
}
#button{
    background-color: rgb(52, 107, 228);
    color: white;
    padding: 10px;
    font-size: 20px;
    width: 10vw;
    border-radius: 10%;
    border: white;
}
.caption{
    text-align: center;
    background: rgb(92, 92, 233);
    height: 80px;
    border-radius: 10%;
    padding: auto;
}
.quiz-board{
    color: black;
    text-align: center;
    font-family:'Hanalei Fill', cursive;
    font-weight: lighter;
}